@font-face {
    font-family: PopinReg;
    src: url(../media/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: PopinMed;
    src: url(../media/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: PopinSbold;
    src: url(../media/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PopinExtLight;
    src: url(../media/fonts/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: PopinLight;
    src: url(../media/fonts/Poppins/Poppins-Light.ttf);
}
