

// For original resolution: 1920px;
$orginalRes: 1400px;

// container-properties
$mt-1400: 16px;
$mb-1400: 20px;
$mx_1400: 93px; 

//nav
$maxnav1width-1400: 1734px;
$nav1fontsize_1400: 1.8rem;

// contactlinks
$linkheight: 38px;
$contactWidth: 225px;

//social Icons
$pl-1400: 30px;
$brandmargin: 42px;
$socialIcons: #ffff;
$socialIconFontSize: 22px;

// -----------------------------------------------------------
// (min-width: 1200px) and (max-width: 1399.98px)
// container-properties
$mt-1200: 16px;
$mb-1200: 16px;
$mx_1200: 80px; 

//nav
$maxnav1width-1200: 1320px;
$nav1fontsize_1200: 1.8rem;

// contactlinks
$linkheight_1200: 28px;
$contactWidth_1200: 216px;

//social Icons
$pl-1200: 24px;
$brandmargin_1200: 38px;
$socialIcons_1200: #ffff;
$socialIconFontSize_1200: 18px;

// -----------------------------------------------------------
// @media (min-width: 992px) and (max-width: 1199.98px)
// container-properties
$mt-992: 16px;
$mb-992: 16px;
$mx_992: 60px; 

//nav
$maxnav1width-992: 1120px;
$nav1fontsize_992: 1.8rem;

// contactlinks
$linkheight_992: 24px;
$contactWidth_992: 200px;

//social Icons
$pl-992: 18px;
$brandmargin_992: 32px;
$socialIcons_992: #ffff;
$socialIconFontSize_992: 18px;

// -----------------------------------------------------------
// @media (min-width: 768px) and (max-width: 991.98px)
// container-properties
$mt-768: 12px;
$mb-768: 12px;
$mx_768: 40px; 

//nav
$maxnav1width-768: 920px;
$nav1fontsize_768: 1.4rem;

// contactlinks
$linkheight_768: 24px;
$contactWidth_768: 200px;

//social Icons
$pl-768: 18px;
$brandmargin_768: 28px;
$socialIcons_768: #ffff;
$socialIconFontSize_768: 18px;
